<footer>
    <div class="footer-body">
        <div class="logo footer-logo">
            <img src="https://i.pinimg.com/564x/2b/c2/7b/2bc27b170e927ba28836f5e27b2ea88c.jpg" alt="">
        </div>
        <ul>
            <h3>Short Links</h3>
            <li><a href="#">Arcade</a></li>
            <li><a href="#">War Zone</a></li>
            <li><a href="#">Fifa Game</a></li>
            <li><a href="#">Pes 2020</a></li>
            <li><a href="#">Xbox Game</a></li>
        </ul>

        <ul>
            <h3>Action Games</h3>
            <li><a href="#">Anpar</a></li>
            <li><a href="#">BattleField</a></li>
            <li><a href="#">The Ghost</a></li>
            <li><a href="#">Fortnite</a></li>
            <li><a href="#">Cold War</a></li>
        </ul>
        <ul>
            <h3>Get In Touch</h3>
            <li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i>Linkedin</a></li>
        </ul>
    </div>
</footer>
<div class="footer-bottom">
    <p>Copyright &copy; All Right Reserved | Designed By<span> OMAR ABARRA</span> 2024</p>
</div>
