/* Styles for the Angular Material table */
.mat-elevation-z8 {

    width: 80%;
   margin-top: 10px;
   margin-bottom: 400px; /* Set margin-top and margin-bottom to 100px, and center the table horizontally */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 
  /*
  Styles for the table header cells */
  .mat-header-cell {
    font-weight: bolder;
    color: #003973;
    background-color: #f0f0f0; /* Header background color */
    padding: 12px 16px;
  }
  
  /*
  Styles for the table cells */
  .mat-cell {
    padding: 12px 16px;
    border-bottom: 1px solid #f0f0f0; /* Optional: Add a separator between rows */
  }
  
  /* Optional: Zebra striping to differentiate rows */
  .mat-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Styles for the spinner */
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px; /* Adjust the height to fit your design */
  }
  
  /* Optional: Change the color of the spinner */
  mat-progress-spinner circle {
    stroke: #003973;
  }
  



@font-face {
  font-family: charlieUltra;
  src: url(/ecomm_angular/src/app/fonts/charlie-display-ultra.ttf);
}

@font-face {
  font-family: GreatSejagad;
  src: url(/ecomm_angular/src/app/fonts/Great_Sejagad.ttf);
}



.title {
  color: #f85745;
  font-size: 40px;
  font-family: GreatSejagad;
}

.main_title {
  color: #b6b0b0;
  font-size: 70px;
  font-family: charlieUltra;
  line-height: 80px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}