<div class="container" style="margin-top: 100px; margin-bottom: 100px;">

  <div class="left">
    <h2>Add Product</h2>

    

    <form [formGroup]="productForm" (ngSubmit)="addProduct()">
      <div class="file-upload-container">
        <label class="file-upload-label">
          <span>Select a File</span>
          <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
          <mat-icon>attach_file</mat-icon>
        </label>
      </div>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Select a Category</mat-label>
        <mat-select formControlName="categoryId" name="categoryId">
          <mat-option *ngFor="let category of listofCategories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name">
        <mat-error *ngIf="productForm.get('name')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="Price" formControlName="price">
        <mat-error *ngIf="productForm.get('price')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="productForm.get('description')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>

      <!-- Other form fields go here -->

      <button mat-raised-button color="primary" type="submit">Add Product</button>
    </form>
  </div>

  <div class="right">
    <div class="image-preview">
      <div class="circle-image">
        <img src="https://i.pinimg.com/564x/84/4a/a9/844aa984aa4e6f620239babbfc4256e7.jpg" alt="Default Image" class="preview-image" *ngIf="!selectedFile">
        <img [src]="imagePreview" alt="Selected Image" class="preview-image" *ngIf="selectedFile">
      </div>
    </div>
  </div>
</div>