* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}



html, body {
    height: 100%;
}

body {
    background-image: url(https://wallpapercave.com/dwp2x/wp6835078.jpg);
    background-size: cover;
    background-position: top center;
	background-repeat: no-repeat;
}


router-outlet {
	margin-top: 100px;
	 color: white; /* Change text color if needed */
   }




