



<div class="game-character">

	<div class="game-text">
		<h1>Level up your reality at OMAR's gaming shop where pixels meet passion, and victories are always within reach!</h1>
	</div>

	<div class="fire-main">
		<div class="fire">
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		  <div class="particle"></div>
		</div>
		
		<img src="../../../../assets/Bayek-game-character.webp" alt="Bayek Game Character" />
	</div>

</div>


<!-- Slider section -->
<section class="slider">
    <div class="container">

        <div class="slider" data-slider>

            <div class="slider-title">
                <div>
                    <p class="title">Gaming Shop</p>
                    <p class="main_title">Our Collections</p>
                </div>

            </div>

            <ul class="slider__track" data-slider-track>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/564x/2d/7a/cd/2d7acdca3698bb3cad9b8021c5068cbd.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/564x/a7/ce/01/a7ce017847a18f4d473c7c5bbe555e68.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/564x/50/3d/70/503d7005d6b5add847430b7e40220f57.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/564x/1c/ea/71/1cea712777adc8de3bd25f4f10d28199.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/564x/d0/17/55/d01755c0ce0f569ba3be83a7017cabab.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/736x/ea/95/48/ea954884090f29fa9e98f12405437f4a.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/736x/d2/80/1d/d2801d57c8d4fda0d1eba1498c8aafb8.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/736x/63/af/18/63af18baa147e08f7c2cb78f0ce4176c.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>

                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/564x/ce/be/da/cebeda1643c9845dd4961b19c83cb7c6.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <img src="https://i.pinimg.com/564x/7d/52/b4/7d52b439aece89bb6765929c5c3fc05d.jpg"
                            class="slideimg" />
                        <div class="slide_content">

                        </div>
                    </div>
                </li>


            </ul>

            <div class="btns">
                <button>SHOW ALL</button>
            </div>

        </div>
    </div>
</section>
<!-- Slider section End -->
